<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" monitorInterval="5">
<Appenders>
    <File name="Nfs-Mounter-LogFile" filename="Nfs-Mounter.log">
        <PatternLayout pattern="%d{MM-dd HH:mm:ss.SSS} [%t] %-5level %c%msg%n"/>
    </File>
    <Console name="Console" target="SYSTEM_OUT">
        <!-- <PatternLayout pattern="%d{MM-dd HH:mm:ss.SSS} [%t] %-5level %c{1.}%msg%n"/>-->
        <PatternLayout pattern="%d{MM-dd HH:mm:ss.SS} [%t] %-5level %c{1.}%msg%n"/>
    </Console>
</Appenders>
<Loggers>
    <Logger name="com.seven10" level="trace" additivity="false">
        <AppenderRef ref="Console" level = "debug"/>
        <AppenderRef ref="Nfs-Mounter-LogFile" level="trace"></AppenderRef>
    </Logger>
    <Logger name="com.seven10.queue.FIFOWorkQueue" level="debug" additivity="false">
        <AppenderRef ref="Nfs-Mounter-LogFile" level="debug"></AppenderRef>
    </Logger>    
    <Root level="warn">
        <AppenderRef ref="Console"/>
    </Root>
</Loggers>
</Configuration>
